* {
   margin: 0;
   padding: 0;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.welcome-message {
   text-align: center;
   padding: 10px;
}

h2 {
   margin-top: 70px;
}

p {
   margin: 20px 0;
}

#start-quiz {
   font-size: 15px;
   background: blueviolet;
   border-radius: 5px;
   padding: 5px;
   color: white;
   margin: 1px;
   cursor: pointer;
}

.quiz-container {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

ul {
   margin: 20px 0;
}

li {
   align-items: center;
   margin: 5px 0;
}

button {
   font-size: 15px;
   background: blueviolet;
   border-radius: 5px;
   padding: 5px;
   color: white;
   margin: 1px;
   cursor: pointer;
}

button:hover {
   color: darkgray;
}

.scores-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#user-score {
   font-size: 15px;
}

#alldone {
   font-size: 25px;
   font-weight: bold;
}

#highscore-list {
   font-size: 25px;
   font-weight: bold;
}